{{#if drinks}}
  <h2>Rate a beer you've drank:</h2>
  <ul class="nav nav-tabs nav-stacked">
    {{#each drinks}}
      <li><a href="#rate/{{ beer._id }}">{{ beer.name }} poured {{ drank_at }} from {{ tap_name }}</a></li>
    {{/each}}
  </ul>
  <p>If you like, we will send you your ratings later!  Make a note of your glass number: <code>{{ tag_id }}</code>.  We'll send a Facebook message.</p>
  <h2>Rate some other beer:</h2>
{{else}}
  <h2>Which beer will you rate?</h2>
{{/if}}

<ul class="nav nav-tabs nav-stacked">
  {{#each beers}}
    <li><a href="#rate/{{ _id }}">{{ name }}</a></li>
  {{/each}}
</ul>
