<div class="row">
  <div class="span12">
    <h1>{{ name }}</h1>
    <h2>What did you think?</h2>
    <div class="slider"></div>
    <div class="slider-labels">
      <span class="label label-left">Ehh</span>
      <span class="label label-middle">Decent</span>
      <span class="label label-right">Excellent</span>
    </div>


    <h2>What flavors did you get?</h2>
    <div class="wheel"></div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <p style="text-align: center; margin: 40px 0;">
      <a class="btn btn-large btn-primary" href="#thanks">Record this for posterity &rarr;</a>
    </p>
  </div>
</div>
